#footer {
	// background: linear-gradient(45deg, #101010, #2F2F2F);
	background: var(--dark);
	color: #fff;
	padding: 40px 20px;
	text-align: center;

	h2 {
		font-family: var(--font1);
		margin-top: 0;
		color: #fff;
	}

	#ip {
		font-family: var(--font1);
		text-transform: uppercase;
		text-decoration: none;
		opacity: 0.4;
		font-weight: 600;
		margin: 10px 0;
    display: inline-block;

		transition: 0.2s all ease-out;

		&:hover {
			color: var(--primary);
			opacity: 1;
		}
	}
} //footer

@media (max-width: 950px) {
	#footer {
		flex-direction: column;

		.f-left,
		.f-right-container {
			text-align: center;
			justify-content: center;
			margin: 10px 0;
		}

		.f-right-container {
			.f-right {
				#ip {
					margin: 10px 0;
				}
			}
		}
	}
}
