.hide {
	display: none !important;
}
.flex {
	display: flex !important;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font1);
}

.quote{
	font-style: italic;
	line-height: 1.5;

	.big{
		font-size: 30px;
	}
}
.video-wrapper {
	text-align: center;
}

section{
	width: 100%;
	padding: 50px 20px;
}

.bg-grey{
	background-color: #f1f1f1;
}

.bg-yellow{
	background: linear-gradient(to right, #968700, #fdf203, #968700);
}
.txt-center{
	text-align: center;
}

.mb-40{
	margin-bottom: 40px;
}

.mt-40{
	margin-top: 40px;
}

.m-6-0{
	margin: 6px 0;
}

.bold{
	font-weight: bold;
}
@media screen and (max-width: 1024px) {
	.video-wrapper {
		display: block;
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;
		margin: auto;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}

a{
	text-decoration: none;
	color: inherit;
}

.overflow {
	overflow: hidden;
}
.container-title {
	// border-bottom: 5px solid var(--primary);
	width: fit-content;
	width: -moz-fit-content;
	margin: 20px auto;
	padding-bottom: 10px;
}

.button {
	font-family: var(--font1);
	font-size: 20px;
	display: inline-block;
	background-color: var(--primary);
	color: #fff;
	padding: 20px 32px;
	font-weight: 500;
	position: relative;
	cursor: pointer;

	transition: 0.2s all ease-out;

	&:hover,
	&:focus {
		background-color: #f04bab;
	}
} // button

.cta-btn {
	@extend .button;

	background-color: transparent;
	color: #fff;
	border: 2px solid;
	text-decoration: none;

	&:hover {
		color: var(--dark);
		border-color: #fff;
		background-color: #fff;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 18px 4px rgba(255, 255, 255, 0);
	}
}

.divider {
	display: block;
	height: 3px;
	width: 200px;
	margin: 0 auto;
}

a.link {
	text-decoration: underline;
	// color: var(--secondary);
	font-style: italic;
	// color: var(--primary);
	transition: all 0.3s ease-out;
	&:hover {
		color: var(--secondary);
	}
}

//back to top button
.back-to-top {
	background: none;
	display: none;
	margin: 0;
	position: fixed;
	bottom: 150px;
	right: 23px;
	width: 35px;
	height: 35px;
	z-index: 100;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	background-color: rgba(9, 9, 9, 0.6);
	border-radius: 60px;

	transition: 0.2s all ease-out;

	i {
		font-size: 38px;
		position: relative;
		left: -1.5px;
		top: -1.5px;
	}

	&:hover {
		opacity: 1;
	}
}
