@font-face{
	font-family: 'Cera GR';
	src: url('../fonts/Cera-GR-Black.otf') format('opentype');
	font-weight: bold;
}

@font-face{
	font-family: 'Futura Display';
	src: url('../fonts/Futura-Display-BQ-Regular.otf') format('opentype');
	font-weight: normal;
}


:root {
	--primary: #ed008c;
	--secondary: #fef102;
	--dark: #141414;

	--font1: "Cera GR", sans-serif;
	--font2: "Lato", sans-serif;
	--display: "Futura Display", sans-serif;
}


